<h2 mat-dialog-title>No tiene negocios</h2>
<mat-dialog-content>Parece que aún no tiene negocios asociados a su cuenta, si se acaba de registrar, es normal, en un
  plazo de 24/48 horas le llegará un correo de confirmación, en cualquier otro caso, es recomendable que contacte con <a
    href="mailto:soporte@mijikonetwork.com?subject=No%20me%20aparecen%20negocios.&body=Hola%2C%20no%20me%20aparecen%20negocios%20asociados%20a%20mi%20cuenta%2C%20mis%20datos%20son%3A%0ANombre%3A%0ACorreo%3A%0ATel%C3%A9fono%3A%0A%0AY%20los%20datos%20de%20mi%20negocio%20son%3A%0A%0ANombre%3A%0ANombre%20legal%3A%0ANIF%2FCIF%3A%0A%0AGracias%0A%0AUn%20saludo.">soporte@mijikonetwork.com</a>.
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="reintentar()">Cerrar sesión</button>
</mat-dialog-actions>
