form {
  display: flex;
  flex-direction: column;
  gap: .5em;
  justify-content: center;
  align-items: center;
}

.aligned {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5em;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.espaciado{
  display: flex;
  gap: 1em;
}

div.errors {
  background-color: var(--warn-color);
  padding: 1em;
  border-radius: 5px;
  margin: .3em;
  margin-bottom: 1em;
}

div.errors strong {
  display: block;
}

div.info {
  background-color: var(--primary-color);
  color: white;
  padding: 1em;
  border-radius: 5px;
  margin: .3em;
  margin-bottom: 1em;
}

div.info strong {
  display: block;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width:575px) {
  mat-form-field {
      width: 100%;
  }
}
