<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<app-backwimage [wallpaper]="fondo">
    <div class="back">
        <img src="../../../assets/logos/logo.png" class="logo">
        <form [formGroup]="formularioLogin" (ngSubmit)="login()">
            <mat-card>
                <mat-card-title>Iniciar sesión</mat-card-title>
                <mat-card-content class="formularioLogin">
                    <mat-form-field appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input formControlName="email" matInput type="email" placeholder="yo@dominio.com">
                        <mat-icon matPrefix>email</mat-icon>
                        <mat-error color="red">{{ mailErrorMessage('email','El correo no es válido') }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="password" matInput type="password">
                        <mat-icon matPrefix>key</mat-icon>
                        <mat-error>{{ mailErrorMessage('password','La contraseña debe tener al menos 6 caracteres') }}</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" mat-stroked-button color="primary">Iniciar sesión
                      <mat-progress-bar *ngIf="iniciandoSesion" mode="indeterminate" class="pBarButton"></mat-progress-bar>
                  </button>
                    <span style="display: block; ">o</span>
                    <a (click)="registro()" mat-button color="accent">Solicite una cuenta</a>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</app-backwimage>
